
#tudo{
    height: 100vh;
}

.opcoes{
    text-align: center;
    margin-bottom: 1vh;
    border: 1px solid #130C11;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#opcoes1{
    margin-top: 1vh;
    
}


.titulo{
    background-color: #639AFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
div > .titulo > .collapse{
    margin-bottom:-8px;
}
.conteudo{
    background-color: #7AFF93;
}